<div class="l-container l-main-header-container">
  <header id="main-header">
    <nav class="navigation main-navigation"><%= link_to 'Home', '/index.html', :class => 'navigation-home' %><%= link_to 'Work', '/work.html', :class => 'navigation-work' %><%= link_to 'Writing', '/writing.html', :class => 'navigation-work' %><%= link_to 'About', '/about.html', :class => "navigation-about" %></nav><!-- .navigation .main-navigation -->
    <%= link_to 'Home', '/index.html', :class => '.logo' %>
  </header><!-- #main-header -->
</div><!-- .l-container .l-main-header-container -->
